// FONTS
$main-font: Montserrat;
$secondary-font: Caveat Brush;

// COLORS
$accent-color: #ab816c;
$white-color: #ffffff;
$black-color: #000000;

// text-colors
$main-text-color: #2e2520;
$accent-text-color: rgba(171, 129, 108, 0.5);

// background-colors
$main-background-color: #fffff9;
$second-background-color: #fef3e4;
$mobile-menu-overlay-color: rgba(254, 243, 228, 0.9);

// icons
$program-icon-color: #674d40;

// shadow
$program-circle-shadow: 0px 4px 4px rgba(171, 129, 108, 0.25);

// transition
$transition-timing: cubic-bezier(0.4, 0, 0.2, 1);
